/* ==========================================================================
   #GRID
   ========================================================================== */

.l-grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.l-grid--top {
  align-self: flex-start;
}

.l-grid--gutters {
  margin: -1em 0 1em -1em;
}

.l-grid--gutters > .l-grid-item  {
  padding: 1em 0 0 1em;
}

.l-grid--gutters-xl {
  margin: -2em 0 2em -2em;
}
.l-grid--gutters-xl > .l-grid-item {
  padding: 2em 0 0 2em;
}

.l-grid-item {
  flex: 1;
}

@mixin grids($columns, $breakpoint: null) {
  // Loop through the number of columns for each denominator of our fractions.
  @each $denominator in $columns {
    .l-grid--#{1}#{$widths-delimiter}#{$denominator}#{$breakpoint} > .l-grid-item {
      flex: 0 0 100% / $denominator;
    }

    @if ($breakpoint != null) {
      .l-grid#{$breakpoint} {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
      }

      .l-grid#{$breakpoint} > .l-grid-item {
        flex: 1;
      }

      .l-grid--gutters#{$breakpoint} {
        margin: -1em 0 1em -1em;
      }

      .l-grid--gutters#{$breakpoint} > .l-grid-item  {
        padding: 1em 0 0 1em;
      }

      .l-grid--gutters-xl#{$breakpoint} {
        margin: -2em 0 2em -2em;
      }
      .l-grid--gutters-xl#{$breakpoint} > .l-grid-item {
        padding: 2em 0 0 2em;
      }
    }
  }
}


// l-grid--1/3
@include grids($fractions);


// e.g.:
//
//  l-grid--1/3@medium
//
@if (variable_exists(breakpoints)) {
  @each $bp-name, $bp-value in $breakpoints {
    @include media(">=#{$bp-name}") {
      @include grids($fractions, #{$widths-breakpoint-separator}#{$bp-name})
    }
  }
}