/* ==========================================================================
   #CMS-CONTENT
   ========================================================================== */

.s-cms-content {
  padding: 2em 0;
  font-size: 1rem;

  h1, h2, h3,
  h4, h5, h6 {
    color: $dark-grey;
  }

  h2 {
    padding-top: 0.5em;
    margin: 0.75em 0;
    font-size: 2em;
    hyphens: auto;
  }

  p {
    margin: 0 0 1em;
    hyphens: auto;
  }

  @include media('>=large') {
    font-size: 1.25rem;
  }
}